.nameTableBold {
  font-weight: bold;
}

.EmployeeCardsOuter {
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.employeeCard {
  font-weight: 500;
  display: inline-block;
  vertical-align: bottom;
  height: 100px;
  width: 300px;
}

.cardWithoutBorder {
  border: none;
}

.emplCardRadioInline {
  display: block;
}
